body {
  background-color: lightgray;
}

.title {
    max-width: fit-content;
    margin-inline: auto;
    font-family: 'Papyrus', fantasy;
}
.boxes {
    display: flex;
    gap: 10px;
    justify-content: center;
}
.individual{
  border: 1px solid black;
  padding: 5px;
  background-color: white;
}
.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
